.swiftpm/
.DS_Store
DerivedData/
build/
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Timeline.xctimeline
playground.xcworkspace
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Config/Secrets.xcconfig
ThtwaatStarter.xcodeproj/
ThtwaatStarter.xcworkspace/
